<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:alvorecer="http://alvorecer.com"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Clientes</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Cadastro de Clientes</h1>
					</div>
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/calls/new}"> 
								<i class="glyphicon glyphicon-plus-sign"></i> 
								<samp class="hidden-xs hidden-sm ">Clientes</samp>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="get">
				<div class="row">
					<div class="col-sm-3 form-group bw-requerid" >
						<label for="" class="control-label">CPF</label>
						<input id="" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-5 form-group bw-requerid" >
						<label for="" class="control-label">Nome Cliente</label>
						<input id="" type="text" class="form-control"/>
					</div>
					
				</div>
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>	
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class=""></th>
						</tr>
					</thead>
					
					<tbody>
						
					</tbody>
				</table>
			</div>	
		</div>
	</section>

</body>
</html>