<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:alvorecer="http://alvorecer.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Atendimentos</title>
</head>

<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:text="#{attendance.register.title}">Registros de Atendimentos</h1>
					</div>
					<div class="col-xs-2" sec:authorize-url="/calls">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/calls}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <samp
								class="hidden-xs hidden-sm">Atendimentos</samp>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="form-service-registration">
			<form method="POST" th:action="@{/attendances/new}" th:object="${attendance}" class="form-vertical  js-form-loading">
				<alvorecer:message/>
				
				<div class="row">
					<div class="col-sm-2 form-group bw-requerid" >
						<label for="dateRegister" class="control-label">Data Contato</label>						
						<input type="text" class="form-control js-date-inicial" id="dateRegister" th:field="*{dateRegister}" autocomplete="off"/>
				 		
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" >
						<label for="hourRegister" class="control-label">Hora Contato</label>
						<input th:field="*{hourRegister}" id="hourRegister" type="text" class="form-control js-hora"/>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="channel">
						<label for="channel" class="control-label">Canal Contato</label>
							<select class="form-control" id="channel" th:field="*{channel}">
								<option value=""></option>
								<option th:each="channel : ${channels}" th:text="${channel.descricao}" th:value="${channel}"></option>
							</select>
					</div>
					<div class="form-group  col-sm-4"alvorecer:classforerror="typeClient">
						<label for="typeClient" class="control-label">Tipo pessoa</label> 
						<div>
							<th:block th:each="typeClient : ${type}">
								<div class="radio  radio-inline">
									<input type="radio" th:id="|id_${typeClient}|" class="js-radio-tipo-pessoa" 
										name="typeClient" data:documento="${typeClient.documento}" th:field="*{typeClient}"
										data:mascara="${typeClient.mascara}" th:value="${typeClient}"> 
									<label class="control-label" th:for="|id_${typeClient}|" th:text="${typeClient.descricao}">Física</label>
								</div>
							</th:block>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="client" >
						<label for="cpfOuCnpj" class="control-label">CPF-CNPJ</label>
						
						<div class="alvorecer-field-action">
							<input id="cpfOuCnpj" type="text" class="form-control client-on-focus js-cpfOuCnpj" 
							data:url ="@{/clients}" th:value="cpfOuCnpj" disabled th:field="*{cpfOuCnpj}"/>		
							
						    <input class="js-client" id="client" type="hidden" th:value="client" th:field="*{client}"/>
						    					
							<div class="alvorecer-field-action__icon attendece-js-img-new" style="display: none">
								<a href="#" data-toggle="modal" data-target="#modalRegistrationFastClient">
									<i class="glyphicon  glyphicon-plus-sign  alvorecer-glyphicon-large"></i>
								</a>
							</div>
							<div class="alvorecer-field-action__icon js-img-loading-client" style="display: none">
								<img th:src="@{/images/mini-loading.gif}">
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 form-group bw-requerid" >
						<label for="" class="control-label">Nome Cliente</label>
						<input id="clientName" type="text" class="form-control" disabled/>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="asPark" >
						<label for="asPark" class="control-label">Como soube do parque</label>
						 
						 <select id="asPark" class="form-control" th:field="*{asPark}">						 
   							 <option value="">Selecione</option>   							 
    						 <option th:each="asPark : ${asParks}" th:value="${asPark}" th:text="${asPark.descricao}">Jornal</option>    						 
  						</select>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-sm-6 form-group bw-requerid" >
						<label for="contact" class="control-label">E-mail</label>
						<input id="clinteEmail" type="text" class="form-control" disabled/>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" >
						<label for="contact" class="control-label">Telefone</label>
						<input id="clientTelefone" type="text" class="form-control js-phone-number" disabled/>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" >
						<label for="" class="control-label">Celular</label>
						<input id="clientPhoneNumber" type="text" class="form-control js-phone-number" disabled/>
					</div>
					
				</div>
						
				<div class="row">				
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="knowsPark">
						<label for="knowsPark" class="control-label">Conhece o Parque</label>
						<select class="form-control" id="knowsPark" th:field="*{knowsPark}">
   							 <option value=""></option>
    						 <option th:each="knowsPark : ${close}" th:text="${knowsPark.descricao}" th:value="${knowsPark}">Não</option>
  						</select>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="subject">
						<label for="subject" class="control-label">Assunto</label>
						<select class="form-control"  id="subject" th:field="*{subject}">
   							 <option value="">Selecione</option>
    						 <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject.descricao}">Não</option>
  						</select>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" alvorecer:classforerror="closed">
						<label for="closed" class="control-label">Fechou</label>
						<select class="form-control" id="closed" th:field="*{closed}">
							 <option value=""></option>
   							 <option th:each="closed : ${close} " th:value="${closed}" th:text="${closed.descricao}">Sim</option>
    						 
  						</select>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid">
						<label for="returnContact" class="control-label">Retonou Contato</label>
						<select class="form-control" id="returnContact" th:field="*{returnContact}">
   							 <option value=""></option>
    						 <option th:each="returnContact : ${close}" th:value="${returnContact}" th:text="${returnContact.descricao}">Não</option>
  						</select>
					</div>
					
					<div class="col-sm-2 form-group bw-requerid" >
						<label for="dateReturn" class="control-label">Data retorno</label>
						<input type="text" class="form-control js-date-final" th:field="*{dateReturn}" id="dateReturn" 
						autocomplete="off"/>						
					</div>
										
				</div>

				<div class="row">
					<div class="col-sm-10 form-group bw-requerid" >
						<label for="comments" class="control-label">Observações</label>
						<textarea th:field="*{comments}" id="comments" rows="6" class="form-control"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
				
			</form>
		</div>
		<div th:replace="client/ClientRegisterFast :: modal"></div>
	</section>

</body>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/client-registration-fast.js}"></script>
	<script th:src="@{/javascripts/preencher-combo-city.js}"></script>
	<script th:src="@{/javascripts/preencher-combo-state.js}"></script>
	<script th:src="@{/javascripts/client-mask-cpf-cnpj-fast.js}"></script>
	<script th:src="@{/javascripts/client-validation-fast.js}"></script>
	<script th:src="@{/javascripts/busca-client-cpf-cnpj.js}"></script>
</th:block>
</html>