<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:alvorecer="http://alvorecer.com"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Lista de Usuários</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" >
						
	

			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	
</th:block>
</html>