<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:alvorecer="http://alvorecer.com"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de usuário</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${use}" th:action="@{/users/new}">
			<alvorecer:message/>
			
			<div class="row">
				<div class="form-group  col-sm-12  alvorecer-required" alvorecer:classforerror="name">
					<label for="name" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{name}"/>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-sm-6  alvorecer-required" alvorecer:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="dateNascimento" class="control-label">Data de nascimento</label>
					<input type="text" class="form-control js-date" id="dateNascimento" th:field="*{dateNascimento}" autocomplete="off"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3" alvorecer:classforerror="password" th:classappend="${use.new} ? alvorecer-required">
					<label for="password" class="control-label">Senha</label> 
					<input type="password" class="form-control" id="password" th:field ="*{password}"/>
				</div>
				
				<div class="form-group  col-sm-3" alvorecer:classforerror="confirmacaoSenha">
					<label for="confirmacaoSenha" class="control-label">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" th:field ="*{confirmacaoSenha}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label class="control-label">Status</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
							data-on-text="Ativo" data-off-text="Inativo" th:field = "*{active}"/>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-6  alvorecer-required" alvorecer:classforerror="groups">
					<label class="control-label">Grupos</label> 
					<div>
						<th:block th:each="group : ${groups}">
							<div class="checkbox  checkbox-inline">
								<input type="checkbox" th:value="${group.id}" th:field ="*{groups}" />
								<label th:for = "${#ids.prev('groups')}" th:text="${group.name}">Administrador</label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Salvar</button>
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>
</html>